/* unresponsive part footer */

footer {
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
      width: 100%;
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer li {
   margin-right: 20px;
 }

footer a {
  color: black;
  text-decoration: none;
  font-family: "Jaapokki",sans-serif;
  font-size: 18px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
footer p {
  font-size: 14px;
  padding: 0 5px;
}
footer p  a {
  font-family: inherit;
  font-size: 1em;
  color: #2C9AB7;
}

footer a:hover {
  color: #51C8AC;
  cursor: pointer;
}

/* >= 768 MD */
@media screen and (max-width:48em) {

  #extra-footer-info {
    display: none;
  }
  .social-list {
    display: none !important;
  }
  footer {
    background-color: #222;
    text-align: center;
  }
  footer p {
    color: white;
  }
