/* non-responsive part of menu */
* {
  list-style: none;
  text-decoration: none;
  font-family: 'Avenir', serif;
}
html, body {
  list-style: none;
  background-color: #FFF;
  overflow-x: hidden;
}
nav {
  text-transform: uppercase;
  z-index: 6;
  background-color: white;
  height: auto;
  width: 100vw;
  position: relative;
}

#logo {
  display: block;
}

.menu-header .fa {
  font-size: 20px;
}
.social-icons {
	justify-content: flex-end;
	display: none;
	flex-direction: row;
	right: 1.5%;
	position: absolute;
}
.menu-header ul {
  z-index: 1000;
  margin: 0 auto;
  background-color: inherit;
}

.menu-header a {
  font-family: "Century Gothic";
  text-decoration: none;
  color: #3f3f3f;
  font-weight: 100;
  opacity: 1;
  font-size: 14px;
  margin-right: 12px;
}
.menu-header a:hover {
  color: #BD7E7F;
}
.hor a {
	position: relative;
	height: 50px;
}
.hor a:hover:after, a.hovered:after {
	content: "";
    display: block;
    border: 5px solid #FFF;
    border-bottom-color: #BD7E7F;
    position: absolute;
    left: 50%;
    margin-left: -5px;
}
a.hovered {
	color: #BD7E7F;
}
.hor li:last-child, .hor li:last-child a {
  margin-right:0;
  padding-bottom:10px;
}
.drop-menu {
	width: 100%;
	background-color: #BD7E7F;
	position: absolute;
    right: 0;
    transform: translateX(-100%);
    margin: 0;
    z-index: 2;
    transition: all .3s ease-in-out;
}
.show {
	transform: translateX(0px);
}
.drop-menu a {
	color: white;
	font-size: 14px;
	display: block;
	height: inherit;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	font-weight: 200;
  text-align: center;
}
.drop-menu a:hover {
	border: 1px solid white;
}/*

.open {
  position: fixed;
  background: #39D;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
 */
#burger-wrap {
  display: none;
  position: absolute;
  top: 20px;
  left: 25px;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
}
.burger {
  z-index: 10;
  position: absolute;
  top: 20px;
  left: 25px;
  overflow: hidden;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: transparent;
}
.burger span {
  display: block;
  position: absolute;
  top: 30px;
  left: 16px;
  right: 16px;
  height: 3px;
  background: #333;
  border-radius: 15px;
  -webkit-transition: background 0.3s .3s;
  transition: background 0.3s .3s;
  -o-transition: background 0s 0s;
  -webkit-transition-delay: 0.4s,0s;
  transition-delay: 0.4s,0s;
}
.open .burger span {
  background: 0 0 transparent;
  transform: rotate(90deg);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -o-transition: all 0s ease;
	-webkit-transition-delay: 0s,0s;
	transition-delay: 0s,0s;
}
.burger span::after,
.burger span::before {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #333;
  content: "";
	border-radius: 5px;
  -webkit-transition-duration: .3s,.3s;
  transition-duration: .3s,.3s;
  -webkit-transition-delay: 0.4s,0s;
  transition-delay: 0.4s,0s;
}
.burger span::before {
  top: -8px;
  -webkit-transition-property: top,-webkit-transform;
  transition-property: top,transform;
}
.burger span::after {
  bottom: -8px;
  -webkit-transition-property: bottom,-webkit-transform;
  transition-property: bottom,transform;
}

.open .burger span::after,
.open .burger span::before {
  -webkit-transition-delay: 0s,.4s;
  transition-delay: 0s,.4s;
  background-color: white;
}
.open .burger span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.open .burger span::after {
  bottom: 1px; /* Fix for codepen, set to zero for normal use */
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* responsive part of menu */
@media (max-width: 48em) {
  nav {
    height: 50px;
  }
  .menu-top {
    padding-top: 0;
  }
  #logo {
    display: none;
  }
  .menu-top ul {
    display: none;
  }
  .menu-header {
    display: none;
  }
  .mobile-menu-items {
    height: 100%;
    background-color: rgba(189,126,127,0.85);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  a {
    color: white !important;
  }
  .mobile-menu-items li {
    padding: 10px 0;
    display: block;
    font-size: 30px;
  }
  .mobile-menu .social-icons {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    padding-bottom: 10px;
    position: static;
  }
  .social-icons li {
    padding-left: 0;
    padding-right: 15px;
    width: auto;
  }
  .drop-menu {
    display: none;
  }
  a.hovered:after {
    display: none;
  }
}
/* >= 0 XS */
@media screen and (min-width:0) {
  .menu {
    height: 126px;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 100%;
    transform: translateY(-1000px);
    transition: all 0.5s ease-in-out;
  }
  .open .mobile-menu {
    transform: translateY(0);
  }
  .open #burger-wrap, .open .burger {
    position: fixed;
  }
  #drop-arrow {
    display: none;
  }
}

/* >= 568 SM */
@media screen and (min-width:35.5em) {
  #logo {
    width: 235px;
    height: 80px;
    margin: 0 auto;
  }
}

/* >= 768 MD */
@media screen and (min-width:48em) {
	.menu {
	height: auto;
	}
  .menu-top {
    padding: 20px;
  }
	#drop-arrow {
	display: inherit;
	}
	.menu-header {
		display: flex;
	}
	.menu-header ul, .hor > a {
	transform: scaleY(1);
	opacity: 1;
	padding-left: 0;
	}
	.hor {
	display: flex;
	flex-direction: row;
	justify-content: center;
	}

	.menu-header li {
	text-align: left;
	padding-top: 0px;
	display: flex;
	width: auto;
	}
	.menu-header .hor > li {
	display: inline-block;
	}
	.drop-menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.drop-menu li {
		flex: 0 0 25%;
		height: 110px;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.drop-menu li:nth-child(1),.drop-menu li:nth-child(3),.drop-menu li:nth-child(6),.drop-menu li:nth-child(8) {
		background-color: steelblue;
	}

	.burger-wrap, .burger, .mobile-menu {
		display: none;
	}
	.social-icons {
  	display: flex;
  }
}
@media screen and (max-width:55em) {

}
/* >= 1280 XL */
@media screen and (min-width:80em) {
  .menu .hor > li {
    font-size: 1.2em;
  }
}
