html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
h1, h2, h3, h4, p, a, div {
	margin: 0;
	padding: 0;
	color: #333;
	text-decoration: none;
	font-family: "Avenir", sans-serif;
}
#sub-header {
	cursor: pointer;
	height: 200px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 2;
	background-color: white;
	position: relative;
}
#sub-header:after {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: inherit;
	z-index: -1;
	content: "";
	top: 20px;
	left: 0;
	right: 0;
	transform-origin: bottom right;
	transform: skewY(-2deg);
}
#sub-header h1 {
	font-family: "Didot", serif;
	font-size: 63px;
	letter-spacing: .0125em;
	padding-bottom: 10px;
}
#sub-header p {
	font-size: 22px;
	font-weight: 200;
	color: #949;
	padding-bottom: 5px;
}
#circle {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	border: 2px solid #949;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: up-down 1.5s ease-in-out infinite;
	animation-direction: alternate;
}
.container .fa-angle-down {
	color: #949;
	font-size: 22px;
	font-weight: light;
}
@keyframes up-down {
	0% { transform: translateY(0) }
	100% { transform: translateY(25px) }
}	

.slope-effect {
	transform: skewY(-2deg);
	height: 115px;
	width: 100%;
	background-color: white;
	position: absolute;
	margin-top: -65px;
	z-index: 1;
}

#gallery {
	background-color: #F0F2F2;
	padding-top: 20px;
}
.gallery-row {
	height: 200px;
	background: url("../images/gallery-row.png");
	background-repeat: repeat-x;
	background-position: 0px center;
	margin-bottom: 50px;
	position: relative;
	z-index: 0;
}
.gallery-mobile {
	display: none;
	height: inherit;
}
.gallery-mobile * {
	color: white;
}
#mobile-gallery-text {
	text-align: right;
	display: flex;
	flex-direction: row;
	align-items: center;
}
#mobile-gallery-text h2 {
	/* font-size: 36px; */
	font-size: 8vw;
	line-height: 10vw;
}
#mobile-gallery-text h1 {
	font-weight: 100;
	margin-top: 5px;
	font-size: 24vw;
}
#boek-nu-cta {
	text-transform: uppercase;
	border: 2px solid #3C66BB;
	background-color: #3C66BB;
	border-radius: 5px;
	padding: 12px 30px 10px;
	margin-top: 100px;
	transition: all 0.3s ease-in-out;
}
#boek-nu-cta:hover {
	background-color: #3366AA;
	border-color: #3366AA;
}
.line {
	background: white;
	width: 4px;
	position: absolute;
	display: none;
}
#vertical-line {
	height: 130vh;
	left: 85px;
	top: 200px;
	transform: rotate(-3deg);
}
#horizontal-line {
	height: 4px;
	left: 0;
	top: 430px;
	width: 105vw;
	transform: rotate(3deg);
}
#quote {
	height: 400px;
	width: 100%;
	background: url("https://static.pexels.com/photos/297755/pexels-photo-297755.jpeg") center center;
	background-color: rgba(255,255,255,0.25);
	background-blend-mode: lighten;
	background-size: cover;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.quote-circle {
	border-radius: 50%;
	background-color: rgba(65,205,250,0.3);
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}
#big-circle {
	margin-top: -50px;
	margin-right: -50px;
	font-size: 48px;
	height: 300px;
	width: 300px;
}
#medium-circle {
	margin-top: -170px;
	margin-left: -50px;
	font-size: 24px;
	height: 200px;
	width: 200px;
}
#small-circle {
	margin-top: 200px;
	margin-left: 50px;
	font-size: 16px;
	height: 125px;
	width: 125px;
}
#body {
	width: 85%;
	z-index: 2;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	/* top: -92px; */
	padding-bottom: 60px;
}
#body h1 {
	font-size: 38px;
	height: auto;
	flex: 0 0 46%;
	margin: 0 2%;
	padding-bottom: 60px;
}
#body p {
	flex: 0 0 46%;
	font-size: 16px;
	margin: 0 2%;
	padding-bottom: 30px;
}
#body img {
	width: 50%;
	height: 50%;
}
@media (max-width: 800px) {
	#sub-header {
		height: 180px;
	}
	#circle {
		display: none;
	}
	.slope-effect {
		display: none;
	}
	.gallery-row {
		display: none;
	}
	#gallery {
		height: 100vh;
		background: url("../images/gallery-mobile.jpeg");
		background-size: cover;
		background-color: rgba(0,0,50,0.3);
		background-blend-mode: darken;
	}
	.gallery-mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.line {
		display: block;
	}
	#quote {
		display: none;
	}
	#body {
		flex-direction: column;
	}
	#body h1 {
		font-size: 9vw;
		color: #F64493;
		font-weight: 800;
		margin-top: 30px;
		padding-bottom: 30px;
	}
	#body p {
		font-size: 14px;
		padding-bottom: 20px;
	}