/* >= 0 XS */
@media screen and (min-width:0) {

  .bottom-background {
    display: none;
  }
  .hero-content {
    height: 100%;
    padding-left: 100px;
  }
  .hero-content h1 {
    font-family: 'Yesteryear'!important;
    font-size: 175px;
    position: relative;
    top: -75px;
    letter-spacing: 0.015em;
    color: white !important;
    margin: 0;
    line-height: 160px;
  }

  .hero-content p {
  	font-family: "Didot";
    font-style: italic;
    font-size: 45px;
    margin-top: -75px;
    font-weight: 100;
    color: white !important;
    margin-left: 280px;
  }
  .hero-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .second-section {
    background: url("../images/second-section-image.jpeg");
    background-size: cover;
    background-position: center;
  }
  .second-section-image {
    height: 100%;
  }

  .review-header {
    height: 100px;
    background-color: #F0F2F2;
  }



  .work-header .review-title h1 {
    font-size: 10vw;
    font-family: "Didot", serif;
    width: auto;
    white-space: nowrap;
  }
  .work-header .review-title .review-title-line {
    width: 15vw;
    margin: 9vw auto;
  }

  .social-list {
    display: none;
  }
}

/* >= 568 SM */
@media screen and (min-width:35.5em) {

  .work-header p, .line {
    display: block;
  }
  .work-header .line {
    width: 70px;

  }
  .review-title h1 {
    font-size: 60px;
    margin-top: -15px;
  }
  .review-title-line {
    height: 2px;
    margin-top: 38px;
  }
  .review-header {
    height: 170px;
  }

  .work-header .review-title h1 {
    font-size: 60px;
    font-family: "Didot", serif;
    width: auto;
    padding: 25px 5px;
  }

  .work-header .review-title .review-title-line {
    width: 100%;
    margin: 48px 20px;
  }
  .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

}

/* >= 768 MD */
@media screen and (min-width:48em) {

  .bottom-background {
    display: block;
  }
}

/* >= 1024 LG */
@media screen and (min-width:64em) {

/* >= 1280 XL */
@media screen and (min-width:80em) {
  .menu .hor > li {
    font-size: 1.1em;
  }

}
}
