/* >= 0 XS */
@media screen and (min-width:0) {
  .menu {
    height: 92px;
  }

  .menu-header {
    display: block;
  }
  .menu-header ul {
    transform: scaleY(0.1);
    transform-origin: top;
    margin-top: 12px;
    left: 0;
    margin-left: 0;
    width: 100vw;
    opacity: 0;
  }

  .menu-header .active {
    transition: transform 0.3s ease;
    transform: scaleY(1);
    opacity: 1;
  }
  .menu-header li {
    text-align: center;
    height: 30px;
    padding-top: 10px;
    /*border-bottom: 1px solid black;*/
    display: block;
    width: 100vw;
    background-color: rgba(255,255,255,1);
  }
  .menu-header li:first-child {
    /*border-top: 1px solid black;*/
  }

  #logo {
    position: static;
    float: right;
    margin-right: 30px;
    height: 70px;
  }
  .menu-top ul {
    display: none;
  }
  #drop-arrow {
    display: none;
  }
  ul.drop-menu {
    z-index: 1;
    position: absolute;
    margin-left: -231px;
    padding-top: 8px;
    display: none;
  }
  .menu-button {
    display: inline-block;
    position: absolute;
  }
  video, audio, canvas {
    display: none;
    volume: 0;
  }
  header {
    z-index: -1;
    height: 100vh;
    width: 100vw;
    justify-content: top;
    overflow: hidden;
    background-color: #DDD;
    background-image: url("http://f.ptcdn.info/767/007/000/1375063804-CO102-o.jpg");
    background-size: auto 100vh;
    background-repeat: no-repeat;
    margin-top: -57px;
    /*background-attachment: fixed;*/
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 8vw;
  }
  .hero-content p {
    font-family: "Didot", serif;
    font-size: 100px;
    height: auto;
    width: 110%;
    color: black;
    padding-top: 34px;
    padding-bottom: 37px;
    text-indent: 0;
    line-height: 50px;
  }

  .hero-content i {
    line-height: 17px;
    font-size: 45px;
    font-style: normal;
  }
  #line1 {
    display: none;
  }
  #line2 {
    display: none;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8vw;
  }
  .second-section {
    background: url("../images/second-section-image.jpeg");
    background-size: cover;
    background-position: center;
  }
  .second-section-image {
    height: 100%;
  }

  .review-header {
    height: 92px;
    background: rgba(220,220,220,0.5);
  }


  .review-header-top p, .line {
    display: none;
  }

  .review-title h1 {
    font-size: 50px;
    padding-top: 15px;
  }

  .review-title-line {
    height: 1px;
    margin-top: 44px;
  }

  .slider-buttons {
    display: none;
  }
  .swiper-container {
    height: 210vw;
    box-shadow: none;
    overflow-y:hidden;
  }

  .swiper-slide {
    display: block;
    height: 100%;
  }

  .review-image {
    background-color: brown;
    height: 90vw;
  }

  .review-side {
    height: 120vw;
    width: 100%;
    background-color: white;
    padding: 0 20px;
  }

  .review-side p {
    padding-right: 50px;
    font-size: 4vw;
  }
  p.review-category {
    font-size: 15px;
    font-family: 'Jaapokki', sans-serif;
    padding-top: 10px;
    border-bottom: 1px solid black;
    padding-right: 0;
    display: inline-block;
    width: auto;
  }
  .review-side h1 {
    font-family: 'Didot', serif;
    font-size: 15vw;
    width: 90%;
    padding-top: 5px;
    padding-bottom: 2.5vh;
    margin: 0;
    line-height: 15vw;
  }

  .review-side a {
    text-decoration: none;
    color: black;
    font-family: 'Jaapokki', sans-serif;
    border: 1px solid black;
    padding: 2vw 30vw 1vw 30vw;
    margin: 1.5vh auto;
    display: inline-block;
  }
  .swiper-pagination {
    position: absolute;
    bottom: 20px;
    height: 14px;
  }
  .swiper-pagination span {
    height: 10px;
    width: 10px;
  }
}

/* >= 568 SM */
@media screen and (min-width:35.5em) {
  .menu {
    height: 103px;
  }
  .menu-header ul {
    margin-top: 23px;
  }

  #logo {
    position: absolute;
    left: 50%;
    margin-left: -117.422px;
    height: 80px;
  }
  .menu-top ul {
    display: flex;
  }
  .hero-content i {
    font-style: italic;
  }
  header {
    margin-top: 0px;
    height: 450px;
    display: flex;
    background-size: auto 600px;
    background-attachment: fixed;
  }
  svg {
    width: 400px;
  }
  #line1 {
    display: block;
    transform: translateX(-33px);
  }
  #line2 {
    display: block;
    width: 265px;
  }

  .slider-buttons {
    display: flex;
    margin-top: 0;
  }
  .review-header-top p, .line {
    display: block;
    font-size: 1.1em;
  }
  .review-title h1 {
    font-size: 60px;
    margin-top: -15px;
  }
  .review-title-line {
    height: 2px;
    margin-top: 38px;
  }
  .review-header {
    height: 170px;
    background: rgba(220,220,220,0);
  }

}

/* >= 768 MD */
@media screen and (min-width:48em) {
  .menu {
    display: inline-block;
    height: 175px;
  }
  #logo {
    height: 80px;
  }
  .menu-header {
    display: block;
  }
  .menu-header ul {
    width: auto;
    position: absolute;
    height: 35px;
    left: 50%;
    margin-top: 40px;
    margin-left: -321.203px;
    transform: scaleY(1);
    opacity: 1;
  }
  .menu-header li {
    text-align: left;
    height: inherit;
    padding-top: 0px;
    border-bottom: 0;
    display: flex;
    width: auto;
    background-color:white;
  }
  .menu-header li:first-child {
    border-top: 0;
  }
  .menu-header .hor > li {
    display: inline-block;
  }
  ul.drop-menu {
    margin-left: -273.5px;
    margin-top: -3px;
  }
  ul.drop-menu li  {
    height: 20px;
    background-color: #FFF;
    padding-top: 10px;
    padding-left: 11.5px;
  }


  li:hover > ul.drop-menu {
    display: block;
    -webkit-animation: dropdown 350ms ease-in-out;
            animation: dropdown 350ms ease-in-out;
    -webkit-transform-origin: center top;
            transform-origin: center top;
  }
  @-webkit-keyframes dropdown {
    0% {
      -webkit-transform: scaleY(0.01);
              transform: scaleY(0.01);
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }

  }
  @keyframes dropdown {
    0% {
      -webkit-transform: scaleY(0.01);
              transform: scaleY(0.01);
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }

  }
  .menu-button {
    display: none;
  }
  header {
    height: 500px;
    background-size: 100vw 700px;
  }

  .hero-content p {
    font-family: "Didot", serif;
    font-size: 120px;
    height: auto;
    width: 110%;
    color: black;
    padding-top: 34px;
    padding-bottom: 37px;
    text-indent: 0;
    line-height: 50px;
  }

  .hero-content i {
    line-height: 17px;
    font-size: 50px;
  }
  svg {
    width: 445px;
  }
  #line1 {
    transform: translateX(-33px);
  }
  #line2 {
    width: 310px;
  }
  .second-section {
    background: #FFF;
  }
  .second-section-image {
    height: 90%;
  }
  .swiper-slide {
    display: flex;
    flex-direction: row;
    width:100%;
  }
  .review-image {
    height: inherit;
    width: 60%
  }

  .review-side {
    height: inherit;
    width: 40%;
  }

  .swiper-container {
    max-height: 737px;
    box-shadow: none;
    box-shadow: 3px 3px 50px rgba(0,0,0,0.3);
  }

  .review-side p {
    padding: 20px 40px 20px 35px;
    font-size: 18px;
    line-height: 20px;
    max-width: 320px;
  }
  
  p.review-category {
    font-size: 21px;
    font-family: 'PT Serif', sans-serif;
    border-bottom: 1px solid black;
    padding: 40px 216px 5px 0;
    margin-left: 35px;
    display: inline-block;
    width: auto;
  }
  .review-side h1 {
    font-family: 'Didot', serif;
    font-size: 60px;
    width: 90%;
    padding-top: 20px;
    padding-left: 35px;
    margin: 0;
    line-height: 70px;
  }

  .review-side a {
    text-decoration: none;
    color: black;
    font-family: 'Jaapokki', sans-serif;
    border: 1px solid black;
    padding: 12px 40px 10px 36px;
    font-size: 12px;
    margin: 1.5vh 35px;
    display: inline-block;
  }
  .swiper-pagination {
    position: absolute;
    margin-bottom: 10px;
    height: 16px;
  }
  .swiper-pagination span {
    height: 12px;
    width: 12px;
  }
}

/* >= 1024 LG */
@media screen and (min-width:64em) {
  video, audio, canvas {
    display: inline-block;
  }

  header {
    height: 550px;
    background-size: 100vw 750px;
  }
  .hero-content p {
    font-size: 140px;
    padding-top: 34px;
    padding-bottom: 37px;
    line-height: 70px;
  }

  .hero-content i {
    line-height: 25px;
    font-size: 60px;

  }
  svg {
    width: 515px;
  }
  #line1 {
    transform: translateX(-13px);
  }
  #line2 {
    width: 380px;
  }

}


/* >= 1280 XL */
@media screen and (min-width:80em) {
  .menu .hor > li {
    font-size: 1.2em;
  }
  .menu-header > ul {
    margin-top: 38px;
    margin-left: -374.1095px;
    height: 37px;
  }
  ul.drop-menu li  {
    width: auto;
  }
  ul.drop-menu {
    margin-left: -316px;
    margin-top: -3px;
  }

  header {
    height: 700px;
    background-size: 100vw 900px;
  }

  .hero-content p {

    font-size: 160px;
    padding-top: 40px;
    padding-bottom: 43px;
    line-height: 70px;
  }

  .hero-content i {
    line-height: 30px;
    font-size: 70px;
  }
  svg{
    width: 565px;
  }
  #line1 {
    transform: translateX(0);
  }
  #line2 {
    width: 430px;
  }
}
