html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
h1, h2, h3, h4, p, a, div {
	margin: 0;
	padding: 0;
	color: #333;
	text-decoration: none;
	font-family: "Avenir", sans-serif;
}

#sub-header {
	cursor: pointer;
	height: 200px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 2;
	background-color: white;
	position: relative;
	padding-bottom: 30px;
}
#sub-header h1 {
	font-family: "Didot", serif;
	font-size: 63px;
	letter-spacing: .0125em;
	padding-bottom: 10px;
}
#sub-header p {
	font-size: 24px;
	font-weight: 200;
	color: #944DA1;
	padding-bottom: 5px;
}
#circle {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: 2px solid #944DA1;
	margin: 8px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: up-down 1.5s ease-in-out infinite;
	animation-direction: alternate;
}
.container .fa-angle-down {
	color: #944DA1;
	font-size: 24px;
	font-weight: light;
}
@keyframes up-down {
	0% { transform: translateY(0) }
	100% { transform: translateY(25px) }
}
section h2 {
  font-weight: 400;
  font-size: 3em;
  padding-top: 15px;
  color: #444;
}
section p {
  font-size: 1.3em;
  color: #39AAFA;
  font-weight: 500;
  max-width: 800px;
}

@media screen and (min-width: 880px) {
  #scroll {
      -webkit-animation: scroll 1.5s infinite 0s;
              animation: scroll 1.5s infinite 0s;
      -webkit-animation-direction: alternate;
              animation-direction: alternate;
      margin-bottom: 0px;
  }
}
.video-section, .photo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  /*background: #EBF5F5;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.description h1 {
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  /*padding-top: 60px;*/
  color: #333;
}
.description p {
  font-weight: 300;
  font-size: 1em;
  padding: 40px 80px;
  text-align: center;
  color: #666;
  line-height: 1.725em;
  letter-spacing: 0.0425em;
}
#VRK-logo {
  height: 150px;
  padding-top: 30px;
}
.two-column-column {
  height: 50%;
  width: 50%;
  /*flex: 0 0 50%;*/
}
.shim {
  background: url("../images/test.jpg");
  height: 30vw;
  background-size: cover !important;
}
#in-between {
  background-position: bottom;
  background-color: #F0F2F2;
  background-blend-mode: color-burn;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#in-between h2 {
  color: #f36f95;
  font-weight: 800;
  margin-bottom: 20px;
}
#in-between p {
  font-size: 1em;
  color: #333;
  padding-bottom: 30px;
  line-height: 1.5em;
}
#gallery-wrapper {
  background-image: url("../images/Roses.jpg");
  background-position: bottom;
  background-color: rgba(255,255,255,0.95);
  background-blend-mode: color-burn;
}
#portfolio-gallery {
  padding-top: 100px;
  max-width: 1020px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.thumbnail {
  height: 300px;
  width: 25%;
  background: url("../images/CarlaSmall.jpg") center center no-repeat;
}
.bottom-background {
  height: 600px;
  background-color: rgba(240,240,242,0.85);
  background-blend-mode: color-burn;
  background-image: url("../images/bbackground.jpg");
  background-position: bottom;
  background-size: cover;
}
@media (max-width: 1000px) {

  .thumbnail {
    width: 33%;
  }
  .description h1 {
    display: none;
  }
  #VRK-logo {
    padding-top: 0;
  }
  #portfolio-gallery {
    justify-content: flex-start;
  }
}
@media (max-width: 750px) {
  #sub-header {
    margin-top: 70px;
  }
  .thumbnail {
    width: 50%;
  }
  .video-section {
    flex-direction: column-reverse;
  }
  .two-column-column {
    width: 100%;
  }
  .description h1 {
    font-size: 32px;
    display: block;
  }
  #VRK-logo {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100px;
  }
  #portfolio-gallery {
    padding: 0;
  }
}
@media (max-width: 550px) {
  .thumbnail {
    width: 100%;
  }
  .bottom-background {
    display: none;
  }
}
