html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, p, a, div {
	margin: 0;
	padding: 0;
	color: #333;
	text-decoration: none;
	font-family: "Avenir", sans-serif;
}
#sub-header {
	cursor: pointer;
	height: 200px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 2;
	background-color: white;
	position: relative;
	padding-bottom: 30px;
}
#sub-header h1 {
	font-family: "Didot", serif;
	font-size: 63px;
	letter-spacing: .0125em;
	padding-bottom: 10px;
}
#sub-header p {
	font-size: 24px;
	font-weight: 200;
	color: #3C96FF;
	padding-bottom: 5px;
}
#circle {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: 2px solid #3C96FF;
	margin: 8px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: up-down 1.5s ease-in-out infinite;
	animation-direction: alternate;
}
.container .fa-angle-down {
	color: #3C96FF;
	font-size: 24px;
	font-weight: light;
}
@keyframes up-down {
	0% { transform: translateY(0) }
	100% { transform: translateY(25px) }
}

/* Einde sub-header */
.lijst-item:nth-child(even) {
	flex-direction: row-reverse;
	background: white;
}
.lijst-item:last-child {
	border-bottom: none;
}
.lijst-item {
	height: 300px;
	width: 100%;
	background: #F0F2F2;
	display: flex;
	align-items: center;
	/* border-bottom: 1px black dashed; */
}
.item-foto {
	opacity: 0;
	height: 330px;
	width: 330px;
	border-radius: 50%;
	background-size: cover !important;
	background-position: center !important;
	z-index: 3;
}
#wedding-item .item-foto {
	opacity: 1 !important;
	background: url("https://static.pexels.com/photos/247295/pexels-photo-247295.jpeg");
}
#wimper-item .item-foto {
	background: url("https://static.pexels.com/photos/46279/brown-brown-eyes-iris-gene-46279.jpeg");
}
#haar-item .item-foto {
	background: url("https://static.pexels.com/photos/6171/hairstyle-hair-wedding-bride.jpg");
}
#visagie-item .item-foto {
	background: url("https://static.pexels.com/photos/6169/woman-hand-girl-professional.jpg");
}
#schoonheid-item .item-foto {
	background: url("https://static.pexels.com/photos/3192/woman-girl-beauty-mask.jpg");
}
#kleding-item .item-foto {
	background: url("https://static.pexels.com/photos/26549/pexels-photo-26549.jpg");
}
#metamorfose-item .item-foto {
	background: url("https://static.pexels.com/photos/6404/woman-girl-young-beauty.jpg");
}
#gezondheid-item .item-foto {
	background: url("../images/receiver3.jpg");
}

.item-text {
	text-align: center;
	margin: 0 auto;
}
.item-text h2 {
	font-size: 56px;
	letter-spacing: .0525em;
}
.item-text p {
	font-size: 1.1em;
}
#final {
	background: #F0F2F2;
	padding-top: 30px;
	text-align: center;
}
.triangle-down {
  width: 0;
  height: 0;
  border-left: 89px solid transparent;
  border-right: 89px solid transparent;
  border-top: 50px solid white;
  margin: 0 auto;
}
.scroll-top-button {
  color: steelblue;
  border: 2px solid steelblue;
  border-radius: 3px;
  padding: 8px 18px;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: none;
}
.scroll-top-button:hover {
  background: steelblue;
  color: white;
}
.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}