html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.container {
  /*background: url("http://previews.123rf.com/images/malkani/malkani1211/malkani121100017/16153826-Silver-seamless-metal-background-Stock-Vector-texture.jpg");*/
  background-color: rgba(235,235,235,0.8);
  background-blend-mode: lighten;
  background-position: center;
  background-size: contain;
}
h1, h2, h3, h4, p, a, div {
	margin: 0;
	padding: 0;
	color: #333;
	text-decoration: none;
	font-family: "Avenir", sans-serif;
}
#sub-header {
	cursor: pointer;
	height: 200px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 2;
	background-color: white;
	position: relative;
	padding-bottom: 20px;
}
#sub-header h1 {
	font-family: "Didot", serif;
	font-size: 63px;
	letter-spacing: .0125em;
	padding-bottom: 10px;
}
#sub-header p {
	font-size: 24px;
	font-weight: 200;
	color: #944DA1;
	padding-bottom: 5px;
}
#circle {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: 2px solid #944DA1;
	margin: 8px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: up-down 1.5s ease-in-out infinite;
	animation-direction: alternate;
}
.container .fa-angle-down {
	color: #944DA1;
	font-size: 24px;
	font-weight: light;
}
@keyframes up-down {
	0% { transform: translateY(0) }
	100% { transform: translateY(25px) }
}

/* Einde sub-header */

#tab-container {
  display: flex;
  align-items: center;
}
#tab-group {
  margin: 5em auto;
  margin-bottom: 2em;
  width: 100%;
  max-width: 54em;
}
.tab {
  position: relative;
  width: 100%;
}
.price {
  float: right;
  font-size: 20px;
  line-height: 1.25;
  margin-top: 4px;
  padding: 5px 10px;
  border-radius: 5px;
  background: lightgreen;
  vertical-align: center;
  color: white;
}
.tab:nth-child(2n) label {
  background: #F0F2F2;
}
.tab input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}

.tab label {
  background: white;
  color: #333;
  display: block;
  font-weight: bold;
  line-height: 3;
  padding: .5em;
  transition: letter-spacing .55s;
}
.tab:first-child label {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.tab:last-child label {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.tab input:focus + label, .tab label:hover {
  background-color: #A14DA1;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  transition: all 1s;
  display: flex;
  justify-content: flex-start;
  background: white;
}
.tab-content .tab-text {
  margin: 1em;
  display: flex;
  flex-direction: column;
}
.tab-text {
    width: 100%;
}
.tab-text li {
    list-style-type: disc;
    line-height: 1.125em;
}
.tab-text li span {
    float: right;
}
.tab-text a {
  margin-top: .5em;
  padding: 8px 10px;
  background-color: lightgreen;
  color: white;
  border-radius: 3px;
  display: inline-table;
  transition: all .3s;
}
.tab-text a:hover {
  background-color: #80DD80;
}
.tab input:checked ~ .tab-content {
  max-height: 36.25em;
}
.item-foto {
  height: inherit;
  flex: 0 0 35%;
	background: url("https://static.pexels.com/photos/247295/pexels-photo-247295.jpeg");
  background-size: cover;
  background-position: center;
  transition: all 0s;
}
/*
#wimper-item .item-foto {
	background: url("https://static.pexels.com/photos/46279/brown-brown-eyes-iris-gene-46279.jpeg");
}
#haar-item .item-foto {
	background: url("https://static.pexels.com/photos/6171/hairstyle-hair-wedding-bride.jpg");
}
#visagie-item .item-foto {
	background: url("https://static.pexels.com/photos/6169/woman-hand-girl-professional.jpg");
}
#schoonheid-item .item-foto {
	background: url("https://static.pexels.com/photos/3192/woman-girl-beauty-mask.jpg");
}
#kleding-item .item-foto {
	background: url("https://static.pexels.com/photos/26549/pexels-photo-26549.jpg");
}
#metamorfose-item .item-foto {
	background: url("https://static.pexels.com/photos/6404/woman-girl-young-beauty.jpg");
}
#gezondheid-item .item-foto {
	background: url("../images/receiver3.jpg");
}*/

#final {
	/*background: #F0F2F2;*/
	padding-bottom: 2em;
	text-align: center;
}
.triangle-down {
  width: 0;
  height: 0;
  border-left: 89px solid transparent;
  border-right: 89px solid transparent;
  border-top: 50px solid #FFF;
  margin: 0 auto;
}
/*.scroll-top-button {
  color: steelblue;
  border: 2px solid steelblue;
  border-radius: 3px;
  padding: 8px 18px;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: none;
}
.scroll-top-button:hover {
  background: steelblue;
  color: white;
}*/
@media (max-width:35.5em) {
  #final {
    padding-top: 2em;
  }
  #sub-header {
    height: auto;
    padding-top: 80px;
  }
  #circle {
    animation-play-state: paused;
  }
  #tab-group {
    margin: 0;
  }
  .tab label {
    font-size: .9em;
  }
  .tab-content {
    flex-direction: column;
  }
  .tab input:checked ~ .tab-content {
    max-height: 100vh;
    margin: 0;
  }
  .item-foto {
    height: 200px;
  }
}
@media (max-width:64em) {
  #tab-container img {
    display: none;
  }
  .tab-text {
      max-width: 95%;
  }
}
