* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html, body {
  font-family: 'PT Serif', serif;
  list-style: none;
  text-decoration: none;
  background-color: #FFF;
  overflow-x: hidden;
}
/* menu */
.menu {
  z-index: 100000;
  position: absolute;
  background-color: #FFF;
  height: 170px;
  width: 100%;
  text-transform: uppercase;
}
.menu-header li a {
  color: rgba(0, 0, 0, 0.5);
}

.menu-top {
  margin-top: 20px;
  height: 80px;
  margin-left: auto;

}
.menu-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu-button a, .menu-top a {
  margin-right: 20px;
  color: #333;
}
.menu-button a:hover, .menu-top a:hover {
  color: #27DDC2;
}

.menu-header ul {
  z-index: 1000;
  position: absolute;
  left: 50%;
  margin-top: 40px;
  margin-left: -276.875px;
}
.menu-header .hor > li {
  display: inline-block;
}
.menu-header li a:hover {
  color: rgba(0, 0, 0, 1);
}

.menu-header a {
  font-family: 'Century Gothic',sans-serif;
  text-decoration: none;
  color: #333;
  margin-right: 15px;
}
ul.drop-menu li:last-child {
  border-radius: 0px 0px 2px 2px;
  padding-bottom: 8px;
}


.menu-button {
  position: fixed;
  width: 32px;
  height: 35px;
  top: 44px;
  left: 30px;
  background-color: inherit;

}
/* end menu */



.container {
  margin-top: 170px;
  background: linear-gradient(to right, #EEE, #F3F3F3,#FAFAFA, #F9F9F9, #FBFBFB, #F5F5F5,#F6F6F6, #F9F9F9, #F2F2F2);
  background-color: rgba(255,255,255,0);
  background-blend-mode: lighten;
  height: auto;
}
.bottom-background img {
  width: 100%;
  opacity: 0.95;
  background-color: #9CC2FD;
}
/* second-section */

.second-section {
  height: 100vh;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
}
.second-section-content {
  /*background-image: url("../images/second-section-content.png");
  background-size: contain;
  background-repeat: no-repeat;*/
  height: 60%;
  margin-top: 11%;
  opacity: 0;
  transform: translateX(180px);
  transition: all 700ms ease-in-out;
}
.second-section-content.is-showing {
  opacity: 1;
  transform: translateX(-10px);
}
.second-section-content img {
  height: 60vh;
}
.second-section-image {
  z-index: 10;
  margin-top: 2%;
  height: 90%;
  background-color: #333;
  background-image: url("../images/second-section-image.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 4px -6px 40px rgba(0,0,0,0.3);
  -webkit-transform: translateX(-175px);
          transform: translateX(-175px);
  opacity: 0;
  -webkit-transition: all 500ms ease-in-out;
  transition:  all 500ms ease-in-out;
}
.second-section-image.is-showing {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  box-shadow: 4px -6px 50px rgba(0,0,0,0.3);
}
.second-section a {
  position: absolute;
  font-family: "jaapokki", sans-serif;
  font-size: 12px;
  border: 1px solid black;
  padding: 12px 40px 10px 36px;
  left: 7vh;
  bottom: 4vh;
}
.container a {
  transition: all 0.3s ease-in-out;
}
.container a:hover {
  background-color: #51C8AC;
  cursor: pointer;
  border-color: rgba(0,0,0,0.4);
  color: white;
}

.review-section {
  opacity: 0;
  transform: translateY(50px);
  transition: all .5s ease-in-out;
}
p.section-title{
  padding-top: 20px;
  font-family: "Jaapokki", sans-serif;
  text-align: center;
}
.line {
  width: 90px;
  margin: 0 auto;
  height: 1px;
  background-color: black;
}

.review-title h1{
  font-family: "Didot", serif;
  text-align: center;
  word-wrap: break-word;
}

.review-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0;
  height: 100px;
}

.review-title-line {
  margin: 0px 20px 0 20px;
  width: 450px;
  height: 2px;
  background-color: black;
}

.slider-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



.button-slide-prev, .button-slide-next {
  margin: -30px 25px 0 25px;
  font-weight: lighter;
  height: 30px;
  width: 40px;
  text-align: center;
  padding: 7px 0 6px 0;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}
.button-slide-prev {
  padding-right: 4px;
}
.button-slide-next {
  padding-left: 4px;
}
.button-slide-prev:hover, .button-slide-next:hover {
  background: #CCC;
  transform: scale(1.1);
}
.swiper-container {
  max-width: 1207px;
  box-shadow: 5px 5px 50px rgba(0,0,0,0.3);
}

.slide-2 .review-image {
  background-color: blue;
}
.slide-3 .review-image{
  background-color: purple  ;
}
.review-section.is-showing {
  opacity: 1;
  transform: translateY(0px);
  color: black;
}

.swiper-pagination-bullet-active {
  background-color: #27DDC2;
}
.work-section {
  margin-top: 10px;
}
.work-header {
  max-width: 1247px;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}
.work-header.is-showing {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.work-card-collection {
  max-width: 1207px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
}
.right-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bottom-right-cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 100px;
}
.work-card {
  background-color: #FFF;
  margin-top: 20px;
  transition: all 0.2s ease-out, transform 0.5s ease-in-out, opacity 0.4s ease-in-out;
  transform: translate(200px);
  opacity: 0;
}
.work-card.is-showing {
  transform: translate(0);
  opacity: 1;
}
.work-card h1 {
  font-size: 50px;
  font-family: "Didot", serif;
  padding-left: 15px;
  margin: 10px 0px;
  line-height: 56px;
}
.card-category {
  font-family: "Jaapokki", sans-serif;
  border-bottom: 1px solid black;
  display: inline-block;
  font-size: 16px;
  margin: 25px 0px 10px 15px;
}
.work-card p {
  font-family: "PT Serif", serif;
  padding-left: 15px;
  padding-right: 25px;
  margin: 30px 0px;
}
.work-card a {
  font-family: "jaapokki", sans-serif;
  color: black;
  font-size: 12px;
  border: 1px solid black;
  padding: 10px 50px 8px 46px;
  margin-left: 15px;
  text-decoration: none;
}
.work-card:hover {
  box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
}
.work-card:hover img {
  box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
  transform: scale(1.06);
}
.work-card img {
  transition: all 0.5s ease-in-out;
}


#card-2 {
  height: 389px;
  width: 798px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#card-2 img {
  width: 319px;
}
#card-2 .image-section {
  height: 389px;
  overflow: hidden;
}
#card-2 .text-section {
  width: 479px;
}
#card-3 {
  height: 389px;
  width: 389px;
  margin-right: 20px;
  background: url("https://c1.staticflickr.com/5/4071/4421099684_ffcbe6b449_b.jpg");
  background-color: rgba(0,0,0,0.6);
  background-blend-mode: darken;
  background-size: cover;
  text-align: center;
  color: white;
  transition: background-color 0.5s ease-in-out;
}
#card-3:hover {
  background-color: rgba(0,0,0,0.35);
}
#card-3 .card-category {
  border-bottom: white 1px solid;
  padding-top: 37px;
  margin-left: 0;
}
#card-3 h1 {
  margin-top: 30px;
  margin-bottom: 50px;
  padding-left: 0;
}
#card-3 a {
  color: white;
  border: white 1px solid;
  margin-left: 0;
}
#card-3 a:hover {
  background: rgba(81, 200, 172, 0.5);
}
#card-4 {
  height: 389px;
  width: 389px;
  text-align: center;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  perspective: 1000px;
}
#card-4 .card-category {
  padding-top: 37px;
  margin-left: 0;
}
#card-4 h1 {
  margin-top: 30px;
  margin-bottom: 50px;
  padding-left: 0;
}
#card-4 a {
  margin-left: 0;
}
.inner-work-card, .inner-work-card-back {
  position: absolute;
  height: 349px;
  width: 349px;
  border: 1px solid black;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: all 0.8s ease-in-out;
  top: 20px;
  left: 20px;
}
.inner-work-card-back {
  transform: rotateY(180deg);
}
#card-4:hover .inner-work-card-back {
  transform: rotateY(360deg);
}
#card-4:hover .inner-work-card {
  transform: rotateY(180deg);
}
.not-active {
   pointer-events: none;
   cursor: default;
}

footer {
  height: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
footer ul {
  display: flex;
  flex-direction: row;
}
footer li {
   margin-right: 20px;
 }

footer a {
  color: black;
  text-decoration: none;
  font-family: "Jaapokki",sans-serif;
  font-size: 18px;
  transition: all 0.1s ease-in-out;
}

footer a:hover {
  color: #51C8AC;
  cursor: pointer;
}

.fa-twitter {
  color: #1EA1F3;
}
.fa-facebook-official {
  color: #3F589B;
}
.fa-linkedin {
  color: #007BB7;
}
i.fa-instagram {
  background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-envelope-o {
  color: #DF0024;
  margin-top: -1px;
}
