* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html, body {
  font-family: 'PT Serif', serif;
  list-style: none;
  text-decoration: none;
  background-color: #FFF;
  overflow-x: hidden;
}
/* menu */
.menu {
  z-index: 100000;
  position: absolute;
  background-color: #FFF;
  height: 170px;
  width: 100%;
  text-transform: uppercase;
}
.menu-header li a {
  color: rgba(0, 0, 0, 0.5);
}

.menu-top {
  margin-top: 20px;
  height: 80px;
  margin-left: auto;

}
.menu-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu-button a, .menu-top a {
  margin-right: 20px;
  color: #333;
}
.menu-button a:hover, .menu-top a:hover {
  color: #27DDC2;
}

.menu-header ul {
  z-index: 1000;
  position: absolute;
  left: 50%;
  margin-top: 40px;
  margin-left: -276.875px;
}
.menu-header .hor > li {
  display: inline-block;
}
.menu-header li a:hover {
  color: rgba(0, 0, 0, 1);
}

.menu-header a {
  font-family: 'Century Gothic',sans-serif;
  text-decoration: none;
  color: #333;
  margin-right: 15px;
}
ul.drop-menu li:last-child {
  border-radius: 0px 0px 2px 2px;
  padding-bottom: 8px;
}


.menu-button {
  position: fixed;
  width: 32px;
  height: 35px;
  top: 44px;
  left: 30px;
  background-color: inherit;

}
/* end menu */

/* hero panel */

.hero-content i {
  line-height: 30px;
  font-size: 70px;
}

.container {
  margin-top: 170px;
  height: 300vh;
  width: 100vw;
  background-color: #EEE;
}

/* end hero panel */

/* second-section */

.second-section {
  height: 100vh;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
}
.second-section-content {
  /*background-image: url("../images/second-section-content.png");
  background-size: contain;
  background-repeat: no-repeat;*/
  height: 60%;
  margin-top: 11%;
  opacity: 0;
  transform: translateX(180px);
  transition: all 700ms ease-in-out;
}
.second-section-content.is-showing {
  opacity: 1;
  transform: translateX(-10px);
}
.second-section-content img {
  height: 60vh;
}
.second-section-image {
  z-index: 10000;
  margin-top: 2%;
  height: 90%;
  background-color: #333;
  background-image: url("../images/second-section-image.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 4px -6px 40px rgba(0,0,0,0.3);
  -webkit-transform: translateX(-175px);
          transform: translateX(-175px);
  opacity: 0;
  -webkit-transition: all 500ms ease-in-out;
  transition:  all 500ms ease-in-out;
}
.second-section-image.is-showing {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  box-shadow: 4px -6px 50px rgba(0,0,0,0.3);
}
.second-section a {
  position: absolute;
  font-family: "jaapokki", sans-serif;
  font-size: 12px;
  border: 1px solid black;
  padding: 12px 40px 10px 36px;
  left: 7vh;
  bottom: 4vh;
}
.second-section a:hover {
  background-color: #51C8AC;
  cursor: pointer;
  border-color: rgba(0,0,0,0);
  color: white;
  box-shadow: 0px 1px 1px black;
}
